nav {
    background-color: grey;
    padding: 5px;
}

h2 {
    display: inline;
    margin-right: 30px;
}

ul li {
    display: inline;
    margin-right: 15px;
}

button {
    float: right;
    margin-top: -45px;
    margin-right: 25px;
    font-size: 18px;
    background-color: grey;
    border: 1px solid black;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(172, 169, 169);
}